In [1]:
import pandas as pd
import numpy as np
import os
import sys

In [2]:
sales_df = pd.read_csv('./dataset/vgsales.csv')
reviews_df = pd.read_csv('./dataset/games.csv')

# cleaning and preprocess
1. rename columns into proper names and remove unwanted columns -- Done
2. check, understand and handle nulls --> done  
3. check for duplicates and drop      --> done
4. assign correct datatypes           --> Done
5. create new table for teams and genres --> Done
6. validate numerical columns        --> Done
7. check for outlier's               --> Done
8. tranform columns as required      --> Done
9. Save new tables                   --> Done
9. Connect data to SQL server

In [3]:

gsales_names = {'Rank': 'rank', 'Name' : 'name', 'Platform' : 'platform', 'Year': 'year', 'Genre': 'genre', 'Publisher': 'publisher', 'NA_Sales' : 'na_Sales',
                'EU_Sales': 'eu_sales', 'JP_Sales': 'jp_sales', 'Other_Sales': 'other_sales', 'Global_Sales': 'global_sales'} 

reviews_names = {'Title': 'title', 'Release Date': 'release_date', 'Team': 'team', 'Rating': 'rating', 'Times Listed': 'times_listed', 'Number of Reviews': 'review_cnt', 'Genres': 
             'genres', 'Summary': 'summary', 'Reviews': 'reviews', 'Plays': 'plays', 'Backlogs': 'backlogs', 'Wishlist': 'wishlist'}
sales_df.rename(columns = gsales_names, inplace = True)
reviews_df.rename(columns = reviews_names, inplace = True)
reviews_df.drop(columns = ['Unnamed: 0', 'summary', 'reviews'], inplace = True)

In [4]:
sales_df

,rank,name,platform,year,genre,publisher,na_Sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
sales_df.drop_duplicates(inplace = True)
sales_df.groupby(['name'])['platform'].transform('count')

0        1
1        2
2        1
3        1
4        1
        ..
16593    1
16594    2
16595    4
16596    1
16597    2
Name: platform, Length: 16598, dtype: int64

In [6]:
reviews_df

,title,release_date,team,rating,times_listed,review_cnt,genres,plays,Playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",30K,2.5K,5K,2.6K
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",28K,679,4.9K,1.8K
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,"Dec 22, 2010",['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",763,5,223,67
1508,Team Sonic Racing,"May 21, 2019","['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",1.5K,49,413,107
1509,Dragon's Dogma,"May 22, 2012",['Capcom'],3.7,210,210,"['Brawler', 'RPG']",1.1K,45,487,206
1510,Baldur's Gate 3,"Oct 06, 2020",['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...",269,79,388,602
1511,The LEGO Movie Videogame,"Feb 04, 2014","['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",1.7K,11,239,73

In [7]:
reviews_df['title'].value_counts().reset_index(name = 'cnt').sort_values(by = 'cnt', ascending = False).head(5)

                    title  cnt
0                    Doom    7
1         Resident Evil 2    5
2  Shadow of the Colossus    5
3              Dead Space    5
4               Minecraft    4

In [8]:
reviews_df[reviews_df['title'] == 'Doom']

,title,release_date,team,rating,times_listed,review_cnt,genres,plays,Playing,backlogs,wishlist
45,Doom,"May 12, 2016","['id Software', 'Bethesda Softworks']",4.0,1.8K,1.8K,['Shooter'],18K,541,4K,1.4K
132,Doom,"Dec 10, 1993","['Activision', 'id Software']",4.0,1.4K,1.4K,['Shooter'],11K,203,1.5K,514
371,Doom,"May 12, 2016","['id Software', 'Bethesda Softworks']",4.0,1.8K,1.8K,['Shooter'],18K,541,4K,1.4K
421,Doom,"Dec 10, 1993","['Activision', 'id Software']",4.0,1.4K,1.4K,['Shooter'],11K,203,1.5K,514
821,Doom,"May 12, 2016","['id Software', 'Bethesda Softworks']",4.0,1.8K,1.8K,['Shooter'],18K,541,4K,1.4K
887,Doom,"Dec 10, 1993","['Activision', 'id Software']",4.0,1.4K,1.4K,['Shooter'],11K,203,1.5K,514
1332,Doom,"Nov 10, 2017","['Bethesda Softworks', 'id Software']",3.9,80,80,['Shooter'],2.3K,37,393,150

In [9]:
reviews_df[reviews_df['title'] == 'Resident Evil 2']

,title,release_date,team,rating,times_listed,review_cnt,genres,plays,Playing,backlogs,wishlist
44,Resident Evil 2,"Jan 25, 2019","['Capcom', 'Capcom Development Division 1']",4.3,2.5K,2.5K,"['Adventure', 'Shooter']",15K,585,3.6K,1.9K
370,Resident Evil 2,"Jan 25, 2019","['Capcom', 'Capcom Development Division 1']",4.3,2.5K,2.5K,"['Adventure', 'Shooter']",15K,585,3.6K,1.9K
513,Resident Evil 2,"Jan 21, 1998","['Capcom', 'Factor 5']",4.2,1.1K,1.1K,"['Adventure', 'Shooter']",5.5K,54,1.1K,597
820,Resident Evil 2,"Jan 25, 2019","['Capcom', 'Capcom Development Division 1']",4.3,2.5K,2.5K,"['Adventure', 'Shooter']",15K,585,3.6K,1.9K
1026,Resident Evil 2,"Jan 21, 1998","['Capcom', 'Factor 5']",4.2,1.1K,1.1K,"['Adventure', 'Shooter']",5.5K,54,1.1K,597

In [10]:
duplicate_df = reviews_df[reviews_df.duplicated(['title', 'release_date'], keep = False)]
duplicate_df

,title,release_date,team,rating,times_listed,review_cnt,genres,plays,Playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",30K,2.5K,5K,2.6K
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",28K,679,4.9K,1.8K
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...
1269,Final Fantasy XIII-2,"Dec 15, 2011",['Square Enix'],3.3,482,482,"['Adventure', 'RPG']",2.3K,58,1.4K,449
1270,Agar.io,"Apr 28, 2015","['Miniclip.com', 'Matheus Valadares']",2.2,81,81,"['Indie', 'Strategy']",4.4K,8,40,12
1271,Fatal Frame II: Crimson Butterfly,"Nov 27, 2003","['Tecmo Co., Ltd.', 'Ubisoft Entertainment']",4.2,398,398,['Adventure'],1K,38,690,513
1466,FIFA 13,"Sep 25, 2012","['Electronic Arts', 'EA Canada']",3.2,62,62,"['Simulator', 'Sport']",1.6K,2,34,12
1496,FIFA 13,"Sep 25, 2012","['Electronic Arts', 'EA Canada']",3.2,62,62,"['Simulator', 'Sport']",1.6K,2,34,12

In [11]:
reviews_df.drop_duplicates(['title', 'release_date'], inplace = True)
reviews_df

,title,release_date,team,rating,times_listed,review_cnt,genres,plays,Playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']",17K,3.8K,4.6K,4.8K
1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",21K,3.2K,6.3K,3.6K
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",30K,2.5K,5K,2.6K
3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...",28K,679,4.9K,1.8K
4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",21K,2.4K,8.3K,2.3K
...,...,...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,"Dec 22, 2010",['Telltale Games'],3.2,94,94,"['Adventure', 'Point-and-Click']",763,5,223,67
1508,Team Sonic Racing,"May 21, 2019","['Sumo Digital', 'Sega']",2.9,264,264,"['Arcade', 'Racing']",1.5K,49,413,107
1509,Dragon's Dogma,"May 22, 2012",['Capcom'],3.7,210,210,"['Brawler', 'RPG']",1.1K,45,487,206
1510,Baldur's Gate 3,"Oct 06, 2020",['Larian Studios'],4.1,165,165,"['Adventure', 'RPG', 'Strategy', 'Tactical', '...",269,79,388,602
1511,The LEGO Movie Videogame,"Feb 04, 2014","['WB Games', 'TT Fusion']",2.8,184,184,"['Adventure', 'Puzzle']",1.7K,11,239,73

In [12]:
sales_df.isna().sum()

rank              0
name              0
platform          0
year            271
genre             0
publisher        58
na_Sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [13]:
sales_df.fillna({'publisher': 'Unknown'}, inplace = True)
sales_df.isna().sum()

rank              0
name              0
platform          0
year            271
genre             0
publisher         0
na_Sales          0
eu_sales          0
jp_sales          0
other_sales       0
global_sales      0
dtype: int64

In [14]:
# if sales year is null then we put release year at sales year for that game
# games which are not present in reviews but are in sales are fine but games which are in reviews but not in sales are not fine

In [15]:
sales_df[(sales_df['year'].isna()) | (sales_df['name'][-4:].str.isnumeric())]

,rank,name,platform,year,genre,publisher,na_Sales,eu_sales,jp_sales,other_sales,global_sales
179,180,Madden NFL 2004,PS2,NaN,Sports,Electronic Arts,4.26,0.26,0.01,0.71,5.23
377,378,FIFA Soccer 2004,PS2,NaN,Sports,Electronic Arts,0.59,2.36,0.04,0.51,3.49
431,432,LEGO Batman: The Videogame,Wii,NaN,Action,Warner Bros. Interactive Entertainment,1.86,1.02,0.00,0.29,3.17
470,471,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,Unknown,1.57,1.02,0.00,0.41,3.00
607,608,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0.00,0.03,2.53
...,...,...,...,...,...,...,...,...,...,...,...
16307,16310,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0.00,0.00,0.00,0.01
16327,16330,Inversion,PC,NaN,Shooter,Namco Bandai Games,0.01,0.00,0.00,0.00,0.01
16366,16369,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,Unknown,0.01,0.00,0.00,0.00,0.01
16427,16430,Virtua Quest,GC,NaN,Role-Playing,Unknown,0.01,0.00,0.00,0.00,0.01
16493,16496,The Smurfs,3DS,NaN,Action,Unknown,0.00,0.01,0.00,0.00,0.01

In [16]:
reviews_df.isna().sum()

title            0
release_date     0
team             1
rating          13
times_listed     0
review_cnt       0
genres           0
plays            0
Playing          0
backlogs         0
wishlist         0
dtype: int64

In [17]:
reviews_df[reviews_df['genres'].isna()]

Empty DataFrame
Columns: [title, release_date, team, rating, times_listed, review_cnt, genres, plays, Playing, backlogs, wishlist]
Index: []

In [18]:
import ast
reviews_df['genres'] = reviews_df['genres'].apply(ast.literal_eval)

def normalize_team(x):
    if pd.isna(x):
        return ['Unknown']
    if isinstance(x, list):
        return x
    if isinstance(x, str):
        return ast.literal_eval(x)
    return ['Unknown']

reviews_df['team'] = reviews_df['team'].apply(normalize_team)
reviews_df['genres'] = reviews_df['genres'].apply( lambda x: 'unknown' if len(x) == 0 else x)

In [19]:
games = reviews_df.drop(columns=['team', 'genres']).drop_duplicates()

game_teams = reviews_df[['title', 'team']].explode('team').drop_duplicates()

game_genres = reviews_df[['title', 'genres']].explode('genres').drop_duplicates()

In [20]:
df = sales_df.groupby(['name', 'year']).agg(
                               publisher_cnt = ('publisher', 'count'),
                               genre_cnt = ('genre', 'count')
)
df[df['genre_cnt'] > 1]

                                         publisher_cnt  genre_cnt
name                             year
007: Quantum of Solace           2008.0              6          6
007: The World is not Enough     2000.0              2          2
187: Ride or Die                 2005.0              2          2
2002 FIFA World Cup              2002.0              3          3
2010 FIFA World Cup South Africa 2010.0              4          4
...                                                ...        ...
iCarly                           2009.0              2          2
iCarly 2: iJoin The Click!       2010.0              2          2
nail'd                           2010.0              2          2
pro evolution soccer 2011        2010.0              6          6
uDraw Studio: Instant Artist     2011.0              2          2

[2295 rows x 2 columns]

In [21]:
game_publisher_df = sales_df[['name', 'publisher']].dropna().drop_duplicates(subset = ['name', 'publisher'])
game_platform_df = sales_df[['name', 'platform']].dropna().drop_duplicates(subset = ['name', 'platform'])
sales_df.drop_duplicates(subset=['name', 'year'], inplace = True)
sales_df

,rank,name,platform,year,genre,publisher,na_Sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.00,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.00,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01

In [22]:
gsales_genre = (
    sales_df[['name', 'genre']]
    .dropna()
    .drop_duplicates()
    .rename(columns={'name': 'title'})
)

game_genres = (
    game_genres
    .rename(columns={'genres': 'genre'})
)

games_genres = pd.concat([gsales_genre, game_genres], ignore_index=True).dropna().drop_duplicates(subset = ['title', 'genre'])
game_genres

                         title                genre
0                   Elden Ring            Adventure
0                   Elden Ring                  RPG
1                        Hades            Adventure
1                        Hades              Brawler
1                        Hades                Indie
...                        ...                  ...
1510           Baldur's Gate 3             Strategy
1510           Baldur's Gate 3             Tactical
1510           Baldur's Gate 3  Turn Based Strategy
1511  The LEGO Movie Videogame            Adventure
1511  The LEGO Movie Videogame               Puzzle

[2648 rows x 2 columns]

In [23]:
sales_df.drop(columns = ['genre', 'publisher', 'platform'], inplace = True)
sales_df

,rank,name,year,na_Sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,2006.0,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,1985.0,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,2008.0,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,2009.0,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,1996.0,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...
16591,16594,Myst IV: Revelation,2004.0,0.01,0.00,0.00,0.00,0.01
16592,16595,Plushees,2008.0,0.01,0.00,0.00,0.00,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,2002.0,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,2003.0,0.01,0.00,0.00,0.00,0.01
16596,16599,Know How 2,2010.0,0.00,0.01,0.00,0.00,0.01

In [24]:
games['times_listed'] = games['times_listed'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)
games['review_cnt'] = games['review_cnt'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)
games['plays'] = games['plays'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)
games['Playing'] = games['Playing'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)
games['backlogs'] = games['backlogs'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)

games['wishlist'] = games['wishlist'].apply(
    lambda x: int(float(x[:-1]) * 1000) if isinstance(x, str) and x.lower().endswith('k')
    else int(x)
)


games

,title,release_date,rating,times_listed,review_cnt,plays,Playing,backlogs,wishlist
0,Elden Ring,"Feb 25, 2022",4.5,3900,3900,17000,3800,4600,4800
1,Hades,"Dec 10, 2019",4.3,2900,2900,21000,3200,6300,3600
2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017",4.4,4300,4300,30000,2500,5000,2600
3,Undertale,"Sep 15, 2015",4.2,3500,3500,28000,679,4900,1800
4,Hollow Knight,"Feb 24, 2017",4.4,3000,3000,21000,2400,8300,2300
...,...,...,...,...,...,...,...,...,...
1507,Back to the Future: The Game,"Dec 22, 2010",3.2,94,94,763,5,223,67
1508,Team Sonic Racing,"May 21, 2019",2.9,264,264,1500,49,413,107
1509,Dragon's Dogma,"May 22, 2012",3.7,210,210,1100,45,487,206
1510,Baldur's Gate 3,"Oct 06, 2020",4.1,165,165,269,79,388,602
1511,The LEGO Movie Videogame,"Feb 04, 2014",2.8,184,184,1700,11,239,73

In [25]:
sales_dtype = {'rank': 'int32', 'name': 'string', 'platform': 'category', 'year': 'int32', 'genre': 'category', 'publisher': 'string'}
games_dtype = {'title': 'string', 'release_date': 'datetime[ns]', 'rating': 'float', 'times_listed': 'int32', 'review_cnt': 'int32',
               'plays': 'int32', 'Playing': 'int32', 'backlogs': 'int32', 'wishlist': 'int32'}
games = games.convert_dtypes(games_dtype)
sales_df = sales_df.convert_dtypes(sales_dtype)
sales_df.info()

<class 'pandas.DataFrame'>
Index: 12363 entries, 0 to 16596
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          12363 non-null  Int64
 1   name          12363 non-null  string
 2   year          12130 non-null  Int64
 3   na_Sales      12363 non-null  Float64
 4   eu_sales      12363 non-null  Float64
 5   jp_sales      12363 non-null  Float64
 6   other_sales   12363 non-null  Float64
 7   global_sales  12363 non-null  Float64
dtypes: Float64(5), Int64(2), string(1)
memory usage: 953.8 KB

In [26]:
games.info()

<class 'pandas.DataFrame'>
Index: 1117 entries, 0 to 1511
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         1117 non-null   string
 1   release_date  1117 non-null   string
 2   rating        1104 non-null   Float64
 3   times_listed  1117 non-null   Int64
 4   review_cnt    1117 non-null   Int64
 5   plays         1117 non-null   Int64
 6   Playing       1117 non-null   Int64
 7   backlogs      1117 non-null   Int64
 8   wishlist      1117 non-null   Int64
dtypes: Float64(1), Int64(6), string(2)
memory usage: 94.9 KB

In [27]:
numeric_cols = games.select_dtypes(exclude=['string']).columns
for col in numeric_cols:
    print(col, games[col].min(), games[col].max())

rating 0.7 4.8
times_listed 0 4300
review_cnt 0 4300
plays 0 33000
Playing 0 3800
backlogs 1 8300
wishlist 2 5400

In [28]:
numeric_cols = sales_df.select_dtypes(exclude=['string']).columns
for col in numeric_cols:
    print(col, sales_df[col].min(), sales_df[col].max())

rank 1 16599
year 1980 2020
na_Sales 0.0 41.49
eu_sales 0.0 29.02
jp_sales 0.0 10.22
other_sales 0.0 10.57
global_sales 0.01 82.74

In [29]:
games.to_csv('./dataset/games_ratings.csv', index = False)
game_teams.to_csv('./dataset/game_teams.csv', index = False)
game_genres.to_csv('./dataset/game_genres.csv', index = False)
sales_df.to_csv('./dataset/game_sales.csv', index = False)
game_publisher_df.to_csv('./dataset/game_publisher.csv', index = False)
game_platform_df.to_csv('./dataset/game_platform.csv', index = False)

## SQL Server connect

In [35]:
import sqlalchemy
from sqlalchemy import create_engine

In [37]:
database_name = 'videogames'
server_name = 'DESKTOP-I3SV1NI'
driver = 'ODBC Driver 17 for SQL Server'

connect_str = f'mssql+pyodbc://{server_name}/{database_name}?trusted_connection=yes&driver={driver}'
engine = create_engine(connect_str)